.banner {
  background: linear-gradient(90deg, #240046, #3a0ca3, #7209b7);
  color: white;
  padding: 20px 0;
}
#cartCount {
  transform: translate(-100%, 25%) !important;
}
.product-card {
  background: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(36, 0, 70, 0.15);
  overflow: hidden;
}
.product-price {
  color: #fb8500;
  font-weight: bold;
}
.card-img-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn-add {
  background: linear-gradient(90deg, #00b09b, #96c93d);
  color: white;
  border: none;
}
.icon-edit,
.icon-delete {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.icon-edit {
  background: linear-gradient(90deg, #2193b0, #6dd5ed);
}
.icon-delete {
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
}
.icon-edit:hover,
.icon-delete:hover {
  transform: scale(1.1);
}