.box{
    background-color: rgb(242, 196, 135);
    padding: 40px;
    margin-bottom: 10px;
}
.containerOne{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.ioo,
.iot,
.ioth {
  background-color: rgb(52, 93, 226);
  padding: 20px;
  color: white;
}
.containerTwo{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.ito,
.itt,
.itth {
  background-color: rgb(52, 93, 226);
  padding: 20px 330px 20px 16px;
  color: white;
}
.containerThree{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.itho{
    background-color: rgb(52, 93, 226);
    padding: 20px;
    color: white;
    flex: 3;
}
.itht{
    background-color: rgb(52, 93, 226);
    padding: 20px;
    color: white;
    flex: 3;
}
.ithth{
    background-color: rgb(7, 126, 58);
    padding: 20px;
    color: white;
    flex: 6;
}
.containerFour{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.ifo {
    background-color: rgb(52, 93, 226);
    padding: 20px;
    color: white;
    flex: 2;
}
.ift {
    background-color: rgb(52, 93, 226);
    padding: 20px;
    color: white;
    flex: 8;
}
.ifth {
    background-color: rgb(7, 126, 58);
    padding: 20px;
    color: white;
    flex: 2;
}
.containerFive{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.ifto,
.iftt,
.iftth {
  background-color: rgb(52, 93, 226);
  padding: 20px;
  color: white;
}
.containerSix{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.iso, .ist{
    background-color: rgb(52, 93, 226);
    padding: 20px;
    color: white;
    flex: 1;
}
.isth{
    background-color: rgb(165, 114, 11);
    padding: 20px;
    color: white;
    flex: 12;
}
.containerSeven{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 115px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.iseo{
    background-color: rgb(52, 93, 226);
    padding: 43px;
    color: white;
    flex: 1;
}
.iset{
    background-color: rgb(52, 93, 226);
    padding: 15px;
    color: white;
    flex: 6;
}
.iseth{
    background-color: rgb(165, 114, 11);
    padding: 43px;
    color: white;
    flex: 5;
}
.containerEight{
    background-color: rgb(13, 7, 59);
    width: 98%;
    height: 135px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.ieo, .iet{
    background-color: rgb(52, 93, 226);
    padding: 20px;
    color: white;
}
.ieth{
    background-color: rgb(165, 114, 11);
    padding: 20px;
    color: white;
}