* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mt-1 {
    margin-top: 2%;
}
.mt-2 {
    margin-top: 4%;
}
.mb-1 {
    margin-bottom: 2%;
}
.mb-2 {
    margin-bottom: 4%;
}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}
.navLeft {
    display: flex;
    align-items: center;
    gap: 14px;
}
.navBtn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
.navBtn:hover {
  transform: scale(1.05);
}
.navBtn i{
    font-size: 25px;
}
.searchBox {
    width: 415px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    box-sizing: border-box;
    background: rgb(37 37 37);
    border-radius: 30px;
}
.searchBox input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #b3b3b3;
    font-size: 17px;
}
.navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navRight a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease;
}
.navRight a:hover {
  transform: scale(1.05);
}
.line {
    width: 1px;
    height: 40px;
    background: #aaa;
}

.container {
    display: flex;
    background-color: black;
    height: 90.8vh;
    margin-top: 58px;
}
.leftSide {
    margin: 10px;
    background-color: rgb(20 20 20);
    height: 78vh;
    width: 20%;
    border-radius: 10px;
}
.cardLeftOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 15px;
}
.cardLeftOne i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    color: rgb(140, 140, 140);
    border-radius: 50%;
}
.cardLeftTwo {
    background-color: rgb(37 37 37);
    margin: 12px 8px;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.cardLeftButton {
    margin: 15px 2px 11px 15px;
}
.btn {
    width: 130px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: none;
    transition: transform 0.2s ease;
}
.btn:hover {
  transform: scale(1.05);
}

.rightSide {
    margin: 10px 10px 10px 0px;
    background-color: rgb(20 20 20);
    height: 78vh;
    width: 80%;
    border-radius: 10px;
    overflow-y: auto;
}
.rightSide::-webkit-scrollbar {
    width: 10px;
}

.rightSide::-webkit-scrollbar-track {
    background: transparent;
}

.rightSide::-webkit-scrollbar-thumb {
    background: #5a5a5a;
    border-radius: 10px;
}
.cardContainer {
    padding: 15px;
}
.cardRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 180px;
    height: 250px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
.card:hover {
    background-color: #202020;
}
.imgContainer {
    position: relative;
}
.imgContainer img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.songs img{
    border-radius: 10px;
}
.artists img {
    border-radius: 50%;
}
.playBtn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #1ed760;
    color: black;
    opacity: 0;
}
.card:hover .playBtn{
    opacity: 1;
}
.cardContent {
    color: white;
}
.cardContent p {
    margin-top: 5px;
    color: rgb(201, 201, 201);
    font-size: 13px;
}

.bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 2px;
    width: 98.5%;
    height: 50px;
    border-radius: 10px;
    margin: 10px 0px 10px 10px;
    padding: 20px;
    background: linear-gradient(to right, rgb(181, 9, 150), rgb(38, 102, 158));
}
.bottomBarLeft {
    color: white;
}