:root {
    --info: #0dcaf0;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --light-gray: rgb(236, 236, 236);
}
.customHover:hover {
    display: block;
    border: none !important;
    color: var(--info) !important;
}
.customHover:hover .dropdown-menu {
    display: block;
}
.input-group .form-control {
    border-radius: 25px;
    height: 45px;
}
.input-group .form-control:focus {
    box-shadow: none;
    border: 1px solid var(--gray-400);
}
.input-group .search-button {
    width: 25%;
    height: 45px;
    border-radius: 25px;
    color: white !important;
    background-color: var(--info) !important;
}
.search-button:hover {
    background-color: black !important;
}
.right-second i:hover {
    color: var(--info) !important;
}
.badge.sm {
  font-size: 11px;
}
.navbar  .nav-link {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 14px;
}
.navbar  .nav-link:hover {
    color: white;
    display: block;
}
.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

/* Support */
.support-container {
    padding: 20px 20px;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}
.support-container i{
    font-size: 35px;
    color: var(--info);
}
.support-container p{
    color: var(--gray-600);
    font-size: 13px;
    margin-top: 0;
}
.support-container h6{
    margin-bottom: 0;
}

/* MODAL */
.btn-close {
    background-color: var(--info) !important;
}
.btn-close:hover {
    background-color: black !important;
}
.form-floating .form-control {
  border: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
}
.form-floating .form-control:focus {
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid black !important;
  border-radius: 0 !important;
}
.modal-footer button {
    color: white;
    border-radius: 25px;
    margin: 0 auto;
    width: 250px;
    height: 45px;
}
.modal-footer button:hover {
    color: white;
    background-color: black;
    border: none;
}
.modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-footer p {
    font-size: 12px;
    margin: 0;
}

/* Bottom Container */
.bottom-container {
    width: 100%;
    padding: 10px 10px;
    background-color: var(--info);
    color: white;
}
.phone i{
    margin-top: 6px;
    font-size: 45px;
}
.bottom-container p {
    font-size: 15px;
    color: var(--light-gray);
}
.icon-container i{
    font-size: 22px;
    color: var(--light-gray);
}
.bottom-container li {
    margin-bottom: 13px;
    font-size: 15px;
    color: var(--light-gray);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.bottom-container li:hover {
  transform: translateX(10px);
}
.input-group .email-button {
    width: 25%;
    height: 45px;
    border-radius: 25px;
    color: white !important;
    background-color: rgb(46, 45, 45) !important;
    transition: box-shadow 0.3s ease;
}
.email-button:hover {
    box-shadow: 0 0 50px white;
}
.img-container img{
    width: 60px;
    height: 35px;
}