* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar {
    width: 100%;
    height: 65px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.navLeft {
    display: flex;
    align-items: center;
    gap: 14px;
}
.navRight {
    display: flex;
    align-items: center;
    gap: 20px;
}
.gridProperty {
    width: 1000px;
    height: 550px;
    display: grid;
    gap: 10px;
    margin: 20px auto
}
.dinning {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.dinning img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 60px 0 0 60px;
}
.stairsOne {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.stairsOne img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textSec {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}
.textSec p {
    margin-top: 10px;
    color: #626262;
}
.bathTub {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}
.bathTub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stairsTwo {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
.stairsThree {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.stairsTwo img, .stairsThree img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 60px 60px 0;
}